* {
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #111;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin-top: 100px;
  flex-direction: row;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  width: 500px;
  height: 500px;
  
}
.square{
  width: 25px;
  height: 25px;
  background: #1d1d1d;
  margin: 2px;
  box-shadow: 0 0 2px #000;
  transition: 2s ease;
  padding: 6px;
}
.square:hover{
  transition-duration: 0s;
}
.btnClick{
  width: 200px;
  height: 40px;
  background-color: #fff;
  color:#000;
}